{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block current_app_content %}
    <div class="text-center">
                <a href="index">香港</a> <a href="indextw" >台灣</a>
    </div>
    <div class="text-center">
                <img src="/nextdigital_logo1.png"  alt="nextdigital 1logo">
    </div>
    <div>
    <ul class="nav navbar-nav">
                    {% for page in base_configuration %}
                    <li><a href="{{ url_for(page.page_link) }}">{{ _(page.page_name) }}</a></li>
                    {% endfor %}
    </ul>
    </div>
{% endblock %}

